body{
	background-color: #F1F2F2 !important;
}
#gameconsole{
	max-width: 1200px;
	margin-top: 50px;
}
#thebox{
	width: 260px;
	height: 180px;
	border-radius: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#thebox h3{
	text-transform: uppercase;
	margin-top: 20px;
	padding-top: 20px;
}
#thebox2{
	width: 260px;
	height: 180px;
	border-radius: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}#thebox2 h3{
	text-transform: uppercase;
	padding-left: 30px;
    padding-top: 10px;
	vertical-align: middle;
	display: inline-block;
}
.crystals{
	    margin-top: 80px;
}
